**/__pycache__/
build/
datasets/ARAD_1K/*
!datasets/ARAD_1K/split_txt/
!datasets/ARAD_1K/split_txt/**
datasets/CAVE/*
!datasets/CAVE/split_txt/
!datasets/CAVE/split_txt/**
datasets/ICVL/*
!datasets/ICVL/split_txt/
!datasets/ICVL/split_txt/**
datasets/KAUST/*
!datasets/KAUST/split_txt/
!datasets/KAUST/split_txt/**
!datasets/README.md
PSFs/*.npz
MST_plus_plus_code/train_exp
RGB2HS/model_zoo
RGB2HS/train_exp
RGB2HS/validate_exp
RGB2HS/train_exp_no_metamer
RGB2HS/train_exp_fixed_metamer
RGB2HS/train_exp_onthefly_metamer
wandb